/* src/App.css */
.app {
  text-align: center;
  margin-top: 100px;
  font-family: sans-serif;
  background-color: #f0f0f0;
  padding: 50px;
  border-radius: 12px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
